# Security settings for development
# Doesn't include production related settings

src/warehouse/secret_settings.py

# Removes Byte-compiled, optimized and DLL files
__pycache__/
*.py[cod]
*$py.class
