{% extends 'users/authenticate.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block login %}
<div id="login">
    <form method="post">
        <div class="login_form">
            {% csrf_token %}
            <fieldset>
                <legend class="text-center">
                    <h2 class="text-center text-white">Welcome Again Login</h2>
                </legend>
                {{form.as_p}}
            </fieldset>
            <div class="row p-3">
                <small>
                    <span>Don't have an account?</span>
                    <a href="{% url 'register' %}">Sign Up</a><br>
                    <a href="{% url 'password-reset' %}">Forgot Password?</a>
                </small>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="submit" class="bg-success">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'users/js/login.js' %}"></script>
{% endblock %}
