{% extends 'warehouse/base/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container my-5" id="password_rst">
    <form method="post">
        <div class="password_form">
            <div class="row text-center border border-white w-50 m-auto py-5 px-3">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="text-center">
                            <h2 class="text-center text-white">Change Password</h2>
                        </legend>
                        {{form.as_p}}
                    </fieldset>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <button type="submit" class="bg-success text-white">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}