<footer id="footer" class="page-footer bg-success mt-4">

    <!-- Quick Links -->
    <div class="container ">
        <div class="row text-center text-xs-left text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5> USEFUL REFERENCES </h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Site Terms & Disclosures</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5> ACCESS LINKS </h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Login</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sign Up</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Locate Store</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5> COMPANY </h5>
                <ul class="list-unstyled">
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Products</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Social media -->
    <div class="social text-center py-4">
        <a href="javascript:void();"><i class="fab fa-facebook-f"></i></a>
        <a href="javascript:void();"><i class="fab fa-twitter"></i></a>
        <a href="javascript:void();"><i class="fab fa-google-plus-g"></i></a>
        <a href="javascript:void();"><i class="fab fa-instagram"></i></a>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">
        <b>&copy;2019 Copyright:</b>
        <a href="javascript:void();"><strong>Warehouse</strong></a>
    </div>
</footer>
