<nav class="navbar navbar-expand-sm navbar-dark bg-success">

    <!-- Website Brand -->
    <a class="navbar-brand" href="javascript:void();"><h3>WAREHOUSE</h3></a>

    <!-- Website Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3">
            <a class="nav-link active" href="/">HOME</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" href="/about/">ABOUT</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" href="/products/">PRODUCTS</a>
        </li>
        <li class="nav-item mx-3">
            <a class="nav-link" href="/contact/">CONTACT</a>
        </li>
    </ul>
</nav>
