/* Declares reusable css properties using variables */
/* For more information on variables and syntax
 * refer https://www.sass-lang.com/guide#topic-2
 */

$bg-color-facebook: #4267b2;
$bg-color-google-plus: #dd4b39;
$bg-color-instagram: #125688;
$bg-color-twitter: #38A1F3;
$font-stack: Helvetica, sans-serif;
